primary-orange = #ED652E
primary-gray  = #EBEBEB
content-width = 780px
total-width = 1000px


border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    -ms-border-radius arguments
    -o-border-radius arguments
    border-radius arguments

.content-box
    background-color primary-gray
    border-radius 5px
    width: content-width
    .header
        color primary-orange


.secondary 
    width total-width - content-width
